:root {
    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);
    --white: hsl(0, 0%, 100%);
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --very-dark: hsl(234, 17%, 12%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: cursive;
    padding: 1em;
    background-color: var(--very-dark-blue);
    background-image: url("../images/bg-stars.svg");
}
h1,h4 {color: var(--white);}
h1 {
    text-align: center;
    margin-bottom: 2em;
    padding: 0 1em;
    margin-top: 100px;
}
h4 {font-weight: normal;}
#container {
    /* border: solid; */
    margin: 0 auto;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#time-container {
    /* border: solid; */
    display: flex;
    gap: 1em;
}
.time-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    /* justify-content: center; */
}
.number {
    color: var(--soft-red);
    background-color: var(--dark-desaturated-blue);
    font-size: 4em;
    padding: .5rem .3rem;
    width: 1.5em;
    text-align: center;
    border-radius: .7rem;
    transition: transform 1s -100ms;
}
footer {
    height: 150px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url("../images/pattern-hills.svg");
    display: flex;
    justify-content: center;
    align-items: center;
}
#handles {
    display: flex;
    gap: 20px;
}
.rotate360 {transform: rotateX(360deg);}
.rotate0 {transform: rotateX(0);}












@media screen and (max-width: 300px) {html {font-size: 6px;}}
@media screen and (min-width: 300px) {html {font-size: 8px;}}
@media screen and (min-width: 350px) {html {font-size: 10px;}}
@media screen and (min-width: 400px) {html {font-size: 12px;}}
@media screen and (min-width: 450px) {html {font-size: 14px;}}
@media screen and (min-width: 500px) {html {font-size: 16px;}}